html {
    /* height: 100vh; */
    background-color: #000;
}

body {
    margin: 0;
    font-family: 'Monaco', monospace !important; /* Use Monaco font */
    font-size: 14px; /* Adjust font size */
}

.banner {
    color: #C0A000;
}

.terminal {
    background-color: #000;
    color: #BFBFBF;
    height: 100%;
    padding: 10px;
}

p, div {
    margin: 0 !important;
}

.header {
    /* text-align: center; */
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
}

.input span {
    color: #1CA800;
    flex-shrink: 0 !important;
}

#commandInput {
    padding: 0px 0px 0px 0px !important;
}

.content {
    overflow: hidden; /* Ensure content doesn't overflow */
}

/* Output Terminal */

.output {
    overflow-y: auto; /* Allow output to be scrollable */
    /* padding: 10px; */
    background-color: #000;
    border: none;
}


/* Input Terminal */

.input-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.input input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Monaco', monospace;
    /* font-size: 14px; */
    /* width: calc(100% - 50px); */
}

.txtWhite {
    color: #BFBFBF !important;
}

.txtGreen {
    color: #1CA800 !important;
}

.txtPurple {
    color: #B1488D !important;
}

.txtAqua {
    color: #00A884 !important;
}

.txtRed {
    color: #D42C3A !important;
}

/* .cursor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #00ff00;
    font-size: 14px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

/* 360, 375, 384, 390, 412, 414, 428 */
/* @media screen and (max-width: 800px) {
    .banner {
        font-size: 15px;
    }
}
@media screen and (max-width: 700px) {
    .banner {
        font-size: 12px;
    }
}
@media screen and (max-width: 605px) {
    .banner {
        font-size: 11px;
    }
}
@media screen and (max-width: 510px) {
    .banner {
        font-size: 9px;
    }
} */

/* 360, 375, 384, 390, 412, 414, [428] */
@media screen and (max-width: 430px) {
    .banner {
        font-size: 1.9vw;
    }
}
/* 360, 375, 384, 390, [412, 414], 428 */
@media screen and (max-width: 415px) {
    .banner {
        font-size: 2vw;
    }
}
/* 360, 375, 384, 390, [412, 414, 428] */
@media screen and (max-width: 360px) {
    .banner {
        font-size: 1.8vw;
    }
}