/* External CSS */
h1 {
    color: purple;
    background-color: rgba(255, 99, 72, 0.25);
    margin: auto 50px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

p {
    color: rgb(9, 0, 128);
    background-color: rgba(241, 100, 206, 0.25);
}